body {
	font-family: sans;
}
q {
	display:block;
	border-left: 1px solid blue;
	margin-left: 0.8em;
	padding-left: 0.2em;
}

nav.top { 
	display: inline-block;
	width:100%;
	font-size:0.6em;
	height:1em;
	font-weight: 500;
	padding-left:15px;
	padding-top: 0px;
	padding-bottom: 4px;
	/*border-bottom:1px solid #999;*/
	margin-top: 0px;
	margin-bottom: 5px;
	font-family: sans;
}
nav.top a { margin-left: 5px; text-decoration: none; font-weight:bold; color: #A00; }
nav.top a.diggit { color: #000; }
nav.top a.headercat { color: #000; font-weight: 500; }
nav.top a:hover { border-bottom: 1px dashed #AAA; background: #EEE; }

a.login { float: right; margin-right:1.8em; }

h1 {
	margin-left:2%;
	margin-top:2%;
	font-size:3em;
	color:#900;
	font-family: Electrolize,sans;
	line-height: 0;
}

ul {
	/*list-style-type:none;*/
}

li { 
	font-size:0.65em;
	display: block; 
	margin-bottom:0.5em; 
	width:60.5em;
	padding-top:0.2em;
}

#comment {
	margin-bottom:1em;
}

div.commentform {
	margin-left:3em;
}

form.commentform textarea {
	color: #999;
	width:45em;
	height: 5em;
	border:1px
	dashed #AAA;
	margin-top:6px;
}

form.commentform textarea.active {
	color: #000;
}

input[type=submit] {
	background: #DDD;
	border: 1px dotted #000;
	margin-top: 3px;
}
a.reply, a.edit, a.delete, a.formathelp {
	color: #333;
	font-weight: bold;
	line-height: 1.4em;
	text-decoration: none;
}

a.yes a.no {
	color: #F00;
}

div.linklist {
	margin-right: 45%; 
	margin-bottom: 10px;
}

article.link { 
	margin-bottom:0em;
	margin-top:0em;	
	margin-left:0.3em;
       	font-family:sans;	
	display: inline-block;
	width:57em;
}

li#link:hover, li#comment:hover { background: #DFF; }
li#comment.deleted { opacity:0.33; }
article.link h3 { 
	font-size: 1.8em;
	display: inline;
	margin-right: 0.5em;
	margin-bottom: 1em;
}

article.link a { 
	color: #08F;
	text-decoration:none;
	font-weight: 300; }

article.link header span { color:#666; }

article.link strong.nsfw { color:#F00; }

article.link footer { 
	margin-top: 0.5em; 
	color: #444;
	padding:3px;
	border-bottom: 1px dotted #999; }

article.link footer span a {
	font-weight: 600;
}

article.comment header span a.linkcat, 
article.link footer span a.linkcat { 
	font-weight: 400; font-style:italic; 
}



article.comment {
	margin-bottom:1.5em;
}

article.comment header {
	padding-bottom:0.2em;
	color: #444;
}

article.comment header a { 
	color: #08F; 
	text-decoration:none;
	font-weight: bold;
}

article.comment p {
	text-align: left;
	display:inline-block;
	width:93%;
}

span.points { margin-right:0em; }

span.buttons { float: right; }
span.buttons a { color: #444; float:right; margin-left:1em;}

article.link footer a { font-weight: bold; }

div.vote { 
	float: left;
	width: 14px;
	min-height: 36px;
	margin-left:1.2em;
	margin-right:5px;
	padding-top: 3px;
	padding-bottom: 3px;
	clear: both;
}

div.hide {
	opacity: 0.0;
}

div.linkedit {
	display: none;
	margin-top: 6px;
}

div.linkedit a {
	font-weight: bold;
}

div.arrowup {
	display:block;
	width:14px;
	height:15px;
	margin-bottom:3px;
	background-image:url(../images/sprites.png); 
	background-position: -96px -536px; }

div.arrowdown {
	display:block;
	width:14px;
	height:15px;
	margin-bottom:6px;
	background-image:url(../images/sprites.png); 
	background-position: -48px -536px; 
}

div.upvote {
	background-image:url(../images/sprites.png); 
	background-position: -64px -536px; }

div.downvote {
	background-image:url(../images/sprites.png); 
	background-position: -80px -536px; 
}

span.pagination { margin-left: 2em; display: block; font-size: 0.6em; margin-bottom:5px; line-height: 1.2em; color: #000; font-weight:300;}
span.pagination a { text-decoration:none; font-weight: bold; color: #333; padding-right: 0.5em; }
.lastvisited { border: 1px dashed #555; }

section.loginform, section.regform { margin-top: 1em; border: 1px dashed #666; padding:1em; margin-left: 2em; display: inline-block; vertical-align: top; }
ul.usernamerules li, ul.passwordrules li { list-style-type: circle; margin-left: 1em; }
.regform h2, .loginform h2 { margin-bottom: 10px; border-bottom: 1px solid #666; }

header.userprofile {
	margin-left: 1em;
	margin-top: 0.3em;
}
header.userprofile h2 {
	display: inline;
}
span.regtime {
	color: #999;
	font-size: 0.65em;
}

ul.userinfo li{ display: inline; margin-right: 1em; font-weight: bold; color: #333; }
header.userprofile nav { 
	display: inline-block;
	width:100%;
	height:1em;
	font-weight: 500;
	padding-left:15px;
	padding-top: 0px;
	padding-bottom: 4px;
	/*border-bottom:1px solid #999;*/
	margin-top: 0px;
	margin-bottom: 5px;
	font-family: sans;
}

header.userprofile nav a { text-decoration: none; font-weight:bold; color: #A00; }
header.userprofile nav a:hover { border-bottom: 1px dashed #AAA; background: #EEE; }

article.link header span.domain a { color: #666; text-decoration:none; font-weight: normal; }
article.link header span.domain a:hover { text-decoration:underline; }

div.formatting { display:none; padding: 0.5em 1em; margin-bottom: 1em; }
div.formatting ul { font-size: 1.8em; line-height: 1.2em; }
div.formatting ul li { margin-bottom: 0; display: inline; border-left: 1px solid #666; padding-left: 0.5em }
div.formatting h3 { font-size:1.2em; color: #333; margin-bottom: 2px;}
input { margin-bottom: 4px; }
label { line-height: 1.2em;  font-weight: bold; }
div.submit-cats { margin-bottom: 4px; width: 15em; line-height: 1.3em; }
section.loginform div.submit-cats a { font-weight: bold; text-decoration:none; color:#08F; }
